body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #ccc;
}
ul{
    position: absolute;
    top: 50%;
    left:40%;
    transform:translate(-50%,-50%);
    margin: 0;
    padding: 0;
    display: flex;
}
ul,li{
    list-style-type: none;
    margin: 0 80px;
}
ul li a .fa{
    font-size: 40px;
    color: #262626;
    line-height: 80px;
    transition: .5s;
}
ul li a{
    position: absolute;
    display: block;
    width: 80px;
    height: 80px;
    background: #fff;
    text-align: center;
    transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0,0);
    transition: .5s;
    box-shadow: -20px 20px 10px rgba(0, 0, 0, .5)
}
ul li a::before{
    content: '';
    position: absolute;
    top: 10px;
    left: -20px;
    height: 100%;
    width: 20px;
    background: #b1b1b1;
    transition: .5s;
    transform: rotate(0deg)skewY(-45deg);
}
ul li a::after{
    content: '';
    position: absolute;
    bottom: -20px;
    left: -10px;
    height: 20px;
    width: 100%;
    background: #b1b1b1;
    transition: .5s;
    transform: rotate(0deg) skewX(-45deg);
}
ul li a:hover{
    transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px,-20px);
    box-shadow:-50px 50px 10px rgba(0,0,0,.5);
}
ul li:hover .fa{
    color:#fff;
}
ul li:nth-child(1):hover a{
    background: #3b5999;
}
ul li:nth-child(1):hover a::before {
    background: #415e95;
}
ul li:nth-child(1):hover a::after {
    background: #4e71bb;
}
ul li:nth-child(2):hover a{
    background: #0077B5;
    color: white;
}
ul li:nth-child(2):hover a::before {
    background: #00a0dc;
}
ul li:nth-child(2):hover a::after {
    background: #00a0dc;
}
ul li:nth-child(3):hover a{
    background: #55acee;
    color: white;
}
ul li:nth-child(3):hover a::before {
    background: #4c9ad6;
}
ul li:nth-child(3):hover a::after {
    background: #4c9ad6;
}
